.ol-roman {
  list-style: lower-roman;
}

.ol-alpha {
  list-style: lower-alpha;
}

#main-content {
  padding-top: 90px;
  @media (max-width: $desktop-down) {
    padding-top: 80px;
  }
}

header.usa-header {
  z-index: 410;
  background-color: #0d1d35;
  color: #fff;
  position: fixed;
  width: 100%;

  .usa-logo__text {
    a {
      color: #fff;
    }
  }

  .subhead {
    font-size: 14px;
  }
  @media (min-width: $desktop-up) {
    a {
      color: #fff;
    }

    .usa-nav__primary > .usa-nav__primary-item {
      a {
        color: rgb(192, 202, 228);
        transition: color 0.3s;
        display: inline-block;
        &:after {
          content: "";
          width: 0;
          border-bottom: 2px solid transparent;
          transition: width 0.3s;
          height: 2px;
          display: block;
          margin-top: 2px;
        }
      }
      a:hover {
        text-decoration: none;
        color: rgb(192, 202, 228);
        &:after {
          width: 100%;
          border-bottom-color: rgb(192, 202, 228);
        }
      }
      a:visited {
        color: rgb(192, 202, 228);
      }
    }

    &.usa-header--basic {
      .usa-nav {
        padding: 0;
        &.brand-nav {
          .usa-nav__primary > .usa-nav__primary-item a {
            padding: 0 20px;
            &:after {
              display: none;
            }
          }
        }
      }
    }
  }

  @media (max-width: $desktop-down) {
    .brand-nav {
      display: none;
    }
  }

  @media (max-width: 63.99em) {
    .subhead {
      margin-left: 1rem;
    }
  }
}

.search-page .primary-nav-wrap {
  display: none;
  @media (max-width: $desktop-down) {
    display: block;
    a {
      max-width: 100%;
    }
  }
}

.usa-header--extended .usa-navbar {
  padding-left: 0;
  padding-right: 0;
  max-width: 100%;
}

.footer,
main {
  a,
  a:link {
    color: $color-primary-alt-darkest;
    text-decoration: none;
    display: inline-block;
    transition: color 0.3s;
    &:after {
      content: "";
      width: 0;
      border-bottom: 2px solid transparent;
      transition: width 0.3s;
      height: 2px;
      display: block;
      margin-top: -2px;
    }
    &:hover {
      text-decoration: none;
      &:after {
        width: 100%;
        border-bottom-color: #333;
      }
    }
  }
  a:visited {
    color: $color-primary-alt-darkest;
  }
  a:hover {
    color: $color-primary-alt-dark;
  }
}

.usa-nav__primary > .usa-nav__primary-item > a {
  margin-right: -1rem;
}

.no-submit-btn {
  border-right: 1px solid;
}

//sticky footer
.content-wrap {
  min-height: calc(100vh - 290px);
  @media (max-width: $tablet-down) {
    min-height: calc(100vh - 490px);
  }
}
.footer {
  height: 290px;
  background-color: #f9f9f9;
  @media (max-width: $tablet-down) {
    height: 490px;

    .brand-partners-footer {
      max-width: 50%;
      margin-bottom: 20px;
      text-align: center;
    }
  }
  @media (max-width: $phone-down) {
    .width-card {
      width: 8rem;
    }
  }
}

.risk-mitigation-wrap,
.hazardListItem {
  text-transform: capitalize;
  @media (max-width: $phone-down) {
    text-align: left;
  }
}

main .hazardListItem {
  margin: 10px 0 0;
  a:link,
  a {
    color: #02354d;
    &:visited {
      color: #02354d;
    }
    &:hover {
      color: #046b99;
    }
  }
}

.modal-dialog {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  .modal-content {
    background: #fff;
    padding: 20px;
    width: 90%;
    max-width: 780px;
    position: relative;
    .modal-heading {
      margin-top: 0;
    }
  }
  .modal-close {
    position: absolute;
    right: 8px;
    top: 8px;
  }

  &.modal-open {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }
  .modal-close-button {
    text-transform: uppercase;
    text-align: right;
    display: block;
    font-weight: bold;
    margin-top: 20px;
  }
}
