.pesticide-detail {
  @media (max-width: $tablet-down) {
    .risk-level-label {
      text-align: left;
    }
    .risk-mitigation {
      text-align: left;
      a .grid-row {
        flex-wrap: nowrap;
        flex-direction: row-reverse;
        > div {
          flex-grow: 1;
          &:nth-child(2) {
            min-width: 60px;
            flex-basis: 60px;
          }
        }
      }
    }
  }

  .risk-header {
    text-decoration: underline;
    transition: color 0.3s;
    cursor: pointer;
    &:hover {
      color: #454545;
    }
  }

  .classification h2 {
    text-transform: capitalize;
  }
}
