.loadingWrap {
  display: flex;
  justify-content: center;
  width: 100vw;
  margin: 0;
  align-items: center;
  height: 100vh;
  b {
    margin-top: -60px;
  }
}
.loading_1,
.loading_2,
.loading_3,
.loading_4,
.loading_5 {
  position: absolute;
  width: 4px;
  height: 4px;
  background: #333;
  border-radius: 100%;
  transform-origin: center 18px;
}
.loading_1 {
  animation: loading 1.6s infinite ease-in-out;
}
.loading_2 {
  animation: loading 1.6s infinite 0.15s ease-in-out;
}
.loading_3 {
  animation: loading 1.6s infinite 0.3s ease-in-out;
}
.loading_4 {
  animation: loading 1.6s infinite 0.45s ease-in-out;
}
.loading_5 {
  animation: loading 1.6s infinite 0.6s ease-in-out;
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  85% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
