//results
#search-header {
  background-size: cover;
  background-position: 50% 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
  background-blend-mode: color;
  @media (max-width: $tablet-down) {
    align-items: flex-start;
    padding-top: 30px;
  }
  > .grid-container {
    border-radius: 20px;
    max-width: 100%;
    @media (max-width: $tablet-down) {
      max-width: 90%;
      padding: 0;
    }
  }
  input.usa-input {
    width: 37rem;
    max-width: 100%;
    padding: 10px;
    font-size: 20px;
    height: 39px;
    border-color: $color-gray-lighter;
  }

  &.initial-search {
    min-height: 560px;
    height: 70vh;
    background-color: transparent;
    background-blend-mode: normal;
    @media (max-width: $tablet-down) {
      height: auto;
      min-height: 100vh;
    }
    > .grid-container {
      background: rgba(255, 255, 255, 0.7);
      border-radius: 20px;
      padding: 20px 50px;
      max-width: 800px;
      width: 90%;
      @media (max-width: $desktop-down) {
        max-width: 90%;
      }
      @media (max-width: $tablet-down) {
        padding: 10px 30px;
        h1 {
          font-size: 1.7rem;
        }
        p {
          font-size: 1.3rem;
        }
      }
      @media (max-width: $phone-down) {
        h1 {
          font-size: 1.3rem;
          margin: 0;
          padding: 0;
        }
        p {
          padding: 0;
          font-size: 1.2rem;
          margin-bottom: 0;
        }
      }
    }
  }

  .search-sub {
    display: none;
    position: absolute;
    background: #fff;
    width: 100%;
    margin: 50px 0 0;
    padding: 0;
    z-index: 1;
    box-shadow: 0px 5px 5px -1px #0000000f;
    list-style: none;
    transition: max-height 0s;
    transition-delay: 0s;
    li {
      a {
        display: block;
        padding: 10px 15px;
        &:hover {
          background: #ccc;
          color: #000;
          &:after {
            border: 0;
          }
        }
      }
      &:nth-child(even) {
        background: #f1f1f1;
      }
    }
  }

  input:focus + .search-sub {
    display: block;
  }

  input + .search-sub:hover {
    display: block;
  }

  .search-input-grid-wrap,
  .search-filter-grid-wrap {
    @media (max-width: $tablet-down) {
      margin: 0;
      select {
        min-width: 100%;
      }
    }
  }
  .search-button-grid-wrap {
    @media (max-width: $tablet-down) {
      margin: 25px 0 0;
      button {
        width: 100%;
      }
    }
  }
  .usa-search {
    @media (max-width: $tablet-down) {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      .search-sub {
        max-height: 110px;
        overflow: hidden;
        overflow-y: scroll;
        margin: 110px 0 0;
      }
    }
  }
}

#search-header .input-dropdown {
  font-size: 14px;
  border-color: $color-gray-lighter;
}

#results {
  .result-row {
    background-color: #f4f4f4;
    min-height: 175px;
    &:nth-child(even) {
      background-color: #fff;
    }
  }
}

.pesticide-type,
.risk-mitigation,
.risk-tag {
  @media (max-width: $tablet-down) {
    justify-content: flex-start;
  }
  .usa-tag {
    color: #000;
  }
}

.risk-level-none {
  display: none;
}

#sort {
  background: #add177;

  @media (max-width: $tablet-down) {
    > .grid-container {
      max-width: 90%;
      padding: 0;
    }
  }
}

.sort-drop select {
  font-size: 12px;
  height: auto;
  line-height: 10px;
  border-color: #cdcdcd;
  display: inline-block;
}
